:root {
    --darker: #212121;
    --lighter: #FBFBFB;
    --action: #8FC300;
    --green-lighter: #D2FA64;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--lighter);
    background: var(--darker);
}

body, input, button, textarea {
    font: 600 18px 'Nunito', sans-serif;
}

button, input {
    outline: 0;
}