.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img-container {
    margin-bottom: 30px;
}

.img-logo {
    width: 20rem;
}

.custom-select {
    width: 17rem;
    height: 45px;
}

.custom-select select option{
    font: 400 1rem 'Nunito', sans-serif;
}

.select-input {
    background-color: var(--darker);
    border: 3px solid var(--action);
    border-radius: 8px;
    padding: 5px;
    color: var(--lighter);
    width: 100%;
    height: 100%;
}
